@model IEnumerable<StoreApplication.DataModel.OrderSale>

@{
    ViewData["Title"] = "Detail";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="col-6">
            <a asp-action="Index" asp-controller="Order" class="btn btn-primary">All Orders</a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Order Id:
                </th>
                <th>
                    Product Id:
                </th>
                <th>
                    Quantity:
                </th>
                <th>
                    Product Name:
                </th>
                <th>
                    Sale Price:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">@obj.OrderId</td>
                    <td width="50%">@obj.ProductId</td>
                    <td width="50%">@obj.Quantity</td>
                    <td width="50%">@obj.ProductName</td>
                    <td width="50%">@obj.SalePrice</td>
                </tr>
            }
        </tbody>
    </table>

    </div>
